@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--pale-blue);
  font-size: 16px;
}

.card {
  background-color: white;
  width: 450px;
  color: var(--desaturated-blue);
  border-radius: 20px;
  overflow: hidden;
  margin: 50px auto;
}

.hero-image {
  width: 100%;
}

p {
  display: block;
}

.title {
  font-size: 32px;
  color: var(--dark-blue);
  font-weight: 900;
}

.card-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  text-align: center;
}

.card-container > * {
  margin: 13px 0;
}

.order-description {
  line-height: 25px;
}

button {
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 1rem 0;
}

.payment-button {
  color: white;
  background-color: var(--bright-blue);
  box-shadow: 0 20px 30px -28px rgb(197 189 245);
}

.payment-button:hover {
  opacity: 0.8;
}

.cancel-button {
  color: var(--desaturated-blue);
  background-color: var(--very-pale-blue);
  box-shadow: 0 20px 30px -28px rgb(197 189 245);
}

.cancel-button:hover {
  color: black;
}

.plan-container {
  font-size: 16px;
  background-color: var(--very-pale-blue);
  padding: 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.plan-container a {
  font-size: 13px;
  color: var(--bright-blue);
  font-weight: 700;
}
.plan-container a:hover {
  text-decoration: none;
  opacity: 0.8;
}

.plan-description {
  margin-right: 95px;
  line-height: 25px;
}

.plan-description strong {
  color: var(--dark-blue);
}
